<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script>
        function loadLayout(element)
        {
            debugger;
            var windowHeight = window.innerHeight;
            document.body.style.height = windowHeight + "px";
        }
    </script>
</head>
<body onload="loadLayout(this);">
    <div class="header">
        @{Html.RenderPartial("~/Views/Shared/Components/_Header.cshtml"); }
    </div>
    <div class="left-panel">
        @{Html.RenderPartial("~/Views/Shared/Components/_LeftPanel.cshtml"); }
    </div>


    <div class="container body-content">
        @RenderBody()
    </div>

        <hr />
    <div class="footer">
@{Html.RenderPartial("~/Views/Shared/Components/_Footer.cshtml"); }
    </div>
            
   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
